/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: yellow; */
}
nav {
  justify-content: space-between;
  display: flex;
  padding: 0 100px;
  align-items: center;
  height: 80px;
  background-color: white;
}
/* .container >  */
.container {
  /* height: 100svh; */
  /* height: 100%; */
  /* width: 100%; */
  /* object-fit:contain; */
  transform: scale(1);
  background-image: url(/images/background.jpg);
  background-size: 110%;
}
.logo h1 {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  line-height: 26px;
  size: 16px;
  cursor: pointer;
}
.hero {
  height: 100svh;
  /* background-image: url(/images/background.jpg); */
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.box {
  border-radius: 20px;
  transform: translateY(80%);
  height: 250px;
  width: 250px;
  /* align-content: center; */
  background-color: white;
  box-shadow: 0px 10px rgb(244, 184, 42);
}
.boxLogo1 {
  padding-left: 20px;
  padding-top: 40px;
  height: 100px;
}
.box > h2 {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  size: 24px;
  line-height: 29px;
  padding-left: 20px;
  padding-top: 10px;
}
.box > p {
  padding-left: 20px;
  padding-top: 20px;
  text-decoration-line: underline;
}
.box > p:hover {
  cursor: pointer;
  color: rgb(244, 184, 42);
  size: 14px;
  line-height: 22px;
}
.nextPage {
  height: 100svh;
  background-color: rgb(244, 184, 42);
  position: relative;
  overflow: hidden;
}
.nextPage {
  display: flex;
  height: 100svh;
}
.content {
  width: 65%;
  min-height: 100svh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  /* gap: 20px; */
  flex-wrap: wrap;
  gap: 5px;
}
.content > div {
  height: 50%;
  width: auto;
  aspect-ratio: 1/1;
  /* border: 2px solid black; */
  /* background-color: red; */
  /* display: flex;
  justify-items: center;
  justify-content: center;
  gap: 24px;
  align-content: center;
  align-items: center; */
  /* background-color: red; */
}
.women {
  /* background-color: aqua; */
  position: absolute;
  top: 0;
  right: 0;
  /* display: flex; */
  /* align-content: center; */
  align-items: center;
  justify-content: center;
  height: auto;
  width: 50%;
}
.women img {
  position: relative;
  height: 700px;
  right: auto;
}
/* .content{

  background-color: aqua;
} */
.nextbox h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  /* background-color: pink; */
  text-align: center;
}
.nextbox p {
  color: white;
  font-size: 1.125rem;
  line-height: 1.8rem;
  font-style: italic;
  text-align: justify;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  /* background-color: pink; */
}
.nextbox {
  /* border: 2px solid black ; */
  height: 10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;

  &:nth-child(3),
  &:nth-child(4) {
    justify-content: flex-start;
  }
}
.purple {
  height: 300px;
  background-color: #292d33;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.third {
  background-color: rgb(244, 184, 42);
  height: 100svh;
}
.phone {
  border-radius: 50%;
  background-color: orange;
  /* width: fit-content; */
  width: fit-content;
  padding: 20px;
  /* height: 100px; */
  /* display: inline; */
}
.phone img {
  height: 50px;
}
.purple .contactUs {
  color: white;
}
.pup a {
  color: white;
  padding: 15px 30px 16px 29px;
  border-radius: 11px;
  background-color: #ee8a02;
  outline: none;
  transform: none;
  text-decoration: none;
}
.sec {
  margin-left: 10rem;
  margin-right: 5rem;
}
.contactUs {
  margin-right: 30rem;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
}
.contactUs h6 a {
  color: white;
  text-decoration-color: rgb(244, 184, 42);
  text-underline-offset: 8px;
}
.third {
  height: 100%;
  position: relative;
}
/* .sofa{
  z-index: 1;
} */
.sofa img {
  position: relative;
  z-index: 2;
  height: 631px;
  width: 544px;
  margin-top: 100px;
  margin-left: 200px;
}
.text {
  z-index: 3;
  padding-top: 40px;
  position: absolute;
  transform: translateY(40%);
  right: 25%;
  top: 0%;
  width: 500px;
  height: 480px;
  background-color: white;
  padding-right: 30px;
  padding-left: 30px;
  /* box-shadow: 5px 5px #d6a125 5px; */
  box-shadow: 15px 15px 15px #52514d;
}
.text h2 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
}
.text p {
  font-size: 1.25rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 80px;
}
.text a {
  margin-top: 100px;
  color: white;
  padding: 15px 30px 16px 29px;
  border-radius: 11px;
  background-color: #ee8a02;
  outline: none;
  transform: none;
  text-decoration: none;
}
.circle {
  background-color: #f2f2f2;
  height: 250px;
  position: absolute;
  width: 250px;
  top: 15%;
  right: 20%;
  border-radius: 50%;
}
.rectangle {
  position: absolute;
  top: 64%;
  right: 20%;
  height: 270px;
  width: 700px;
  background-color: #f8d788;
  /* z-index: 0; */
}
.third .sofa {
  z-index: 2;
}
.third {
  padding: 50px;
}
.new {
  /* margin-top: 20px; */
  position: relative;
}
.what h2 {
  color: rgb(244, 184, 42);
  font-family: Montserrat;
  font-weight: 700;
  line-height: 53px;
  font-size: 48px;
}
.what p {
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.what {
  width: 300px;
  height: auto;
  /* border: 2px solid black; */
}
.interior h4 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: rgb(244, 184, 42);
}
.interior p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 26px;
}
.interior {
  width: 300px;
  /* border: 2px solid black; */
}
.new {
  justify-content: space-around;
  gap: 24px;
  padding: 0px 100px;
}
.fur h4 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: rgb(244, 184, 42);
}
.fur p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 26px;
}
.fur {
  width: 300px;
  /* border: 2px solid black; */
}
.design h4 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: rgb(244, 184, 42);
}
.design p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 26px;
}
.design {
  width: 300px;
  /* border:2px solid black; */
}
.fourth {
  height: 100svh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/images/fourth.jpg);
  /* display: flex; */
  position: relative;
  /* background-size: cover;   */
  /* background-size: 100% 60%; */
  /* background-color: rgb(244, 184, 42); */
}
.fcontainer {
  width: 400px;
  height: 450px;
  /* border: 2px solid black; */
  color: white;
  position: absolute;
  left: 50%;
  top: 30%;
}
.fcontainer h2 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  /* color: aqua; */
}
.fcontainer > p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 4cqw;
}
.fcontainer > a {
  padding: 18px 54px;
  text-decoration: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-color: white;
  color: white;
  /* margin-left: 20px; */
  border-radius: 11px;
  /* margin-top: 100px; */
}
.fpup {
  padding-top: 40px;
  padding-bottom: 50px;
  height: auto;
  display: flex;
  gap: 50px;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}
.fpup > h2 {
  color: rgb(244, 184, 42);
  font-family: Montserrat;
  font-size: 48px;
  line-height: 53px;
  font-weight: 700;
}
.frow > div > img {
  height: 200px;
  width: 200px;
}
.frow > div {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 20px;
}
.frow {
  display: flex;
  gap: 50px;
  color: white;
}
.frow > div > p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.frow > div > h6 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  color: rgb(244, 184, 42);
}
.five {
  height: 100svh;
  position: relative;
  background-color: rgb(244, 184, 42);
}
.five > img {
  height: 550px;
  position: absolute;
  top: 8%;
  left: 15%;
  z-index: 2;
}
.newr {
  height: 250px;
}
.ntext {
  left: 18%;
  top: 38%;
  height: 300px;
}
.ntext > h3 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  /* line-height: 53px; */
}
.newr {
  top: 50%;
  height: 300px;
}
.lpup {
  /* height: fit-content; */
  height: 1000px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}
.lpup > h2 {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
}
.lpup > h5 {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.ltext {
  margin-top: 50px;
  top: 0%;

  transform: translateY(20%);
  box-shadow: none;
  width: 1200px;
  /* top: 0%; */
  left: 12%;
  height: 700px;
  display: flex;
  /* justify-content: center; */
  /* transform: translateY(50%); */
}
.ltext > div > img {
  height: 350px;
}
.fpart {
  width: 50%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
}
.contact50 {
  color: black;
  width: 50%;
  /* background-color: aquamarine; */
}
.fpart > div {
  width: 150px;
}
.fpart > div > h6 {
  color: black;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.fpart > div > p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400px;
  color: black;
}
.contact50 > h3 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  /* color: aqua;  */
}
.contact50 > p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
}
.contact50 > div > h6 {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.input-box {
  width: 500px; /* increase width */
  height: 45px; /* increase height */
  font-size: 16px; /* makes text bigger */
  padding: 10px; /* adds inner space */
  border-radius: 11px;
  box-shadow: none;
  border: 0.2px solid rgb(156, 156, 156) !important ;
  background-color: rgb(229, 229, 229);
}
.lastin {
  width: 500px; /* increase width */
  border-color: rgb(229, 229, 229);
  box-shadow: none;
  border-radius: 11px;
  height: 200px; /* increase height */
  font-size: 16px; /* makes text bigger */
  padding: 10px;
  margin-bottom: 40px;
  border: 0.2px solid rgb(156, 156, 156) !important ;

  background-color: rgb(229, 229, 229);
}
.contact50 > a{
  /* color: aqua; */
  display: flex;
  justify-content: center;
  margin: 0;
  display: block;
  width: 500px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 26px;
  align-items: center;
  align-content: center;
  justify-items: center;
}
